@charset "utf-8";
body{
	width:80%; 
	margin-left:10%; 
	margin-right:10%;
	font-family: 'Roboto', sans-serif;
	align:center;
	line-height:2.5em;

}
.izquierda{
	width:30%; 
	float:left;
	margin-right:20px;
}
.derecha{
	width:45%; 
	float:left;
}
.sesenta{
	margin-left:5px;
	margin-top:20px;
	width:55%; 
	float:left;
}
img{
	margin-top:20px;
	border-radius:5%;
	}
	

/* CSS Document */

